@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    height: 85vh;
    background-image: url(sprite/sky.png);
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: clamp(0.5em, 4em, 5vw);
    color: rgb(75, 31, 3);
}
.start{
    margin-top: 10%;
    font-size: 1.5em;
    width: 20%;
    height: 15%;
    border-radius: 30px;
    background-color: #3E8DF4;
    font-family: 'Press Start 2P', cursive;
}
.start:hover{
    background-color: darkblue;
}
footer {
    width: 100%;
    height: 15vh;
    background-color: green;
}