*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: end;
    justify-content: center;
}

#pontuacao{
    align-self: self-start;
}


#objeto{
    display: flex;
    background-image: url("img/corrida.gif");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}


#objeto2{
    position: absolute;
    display: flex;
    background-image: url("img/caminhao.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
}